/* Input CSS */

.search-control .search-item p,
.form-group label{
  color: var(--black-cl-1);
  font-weight: 700;
}

.select2-container--default{
  width: 100% !important;
}

.select2-container--default .select2-selection--single{
  height: 4.7rem;
  padding: 1.3rem 1.6rem;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #828282;
  line-height: 2.1rem;
  margin-top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 4.5rem;
  right: 1.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
  margin-left: 0;
  border-width: 5px 6px 0 6px;
  border-color: var(--black-cl-1) transparent transparent transparent;
  transform: translate(-50%, -50%);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0 6px 5px 6px;
  border-color: transparent transparent var(--black-cl-1) transparent;
}

.form-group{
  margin-bottom: 2.8rem;
}

.form-group:last-child{
  margin-bottom: 0;
}

.form-group label{
  margin-bottom: 8px;
  font-weight: 500;
}

.form-group input[type='text']{
  height: auto;
  font-size: 1.8rem;
  line-height: 2.1rem;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  padding: 1.35rem 1.6rem;
}

.form-group input[type='text']::placeholder,
.form-group textarea{
  color: #828282;
}

.form-group .ck.ck-toolbar,
.form-group .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.form-group .ck.ck-editor__main > .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
  border-color: #d9d9d9;
}

.form-group .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar{
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-group .ck.ck-editor__main > .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused{
  box-shadow: none;
}

.form-group .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.checkbox-group{
  width: 4rem;
  height: 3.2rem;
  position: relative;
}

.checkbox-group input[type='checkbox']{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox-group label{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.checkbox-group label::before{
  content: "\2713";
  color: #0F5132;
  font-size: 2.6rem;
  display: none;
}

.checkbox-group input[type='checkbox'] ~ label{
  background-color: #D9D9D9;
}

.checkbox-group input[type='checkbox']:checked ~ label::before{
  display: inline-block;
}

/* End Input CSS */

.admin-control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.admin-control .admin-heading{
  display: flex;
  align-items: center;
  column-gap: .8rem;
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
}

.admin-control .admin-heading span{
  font-weight: 700;
}

.admin-control .admin-button{
  display: flex;
  column-gap: 8px;
}

.admin-control .btn{
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
  border-radius: 5px;
  column-gap: 8px;
  padding: 1.2rem 1.6rem;
}

.admin-control .btn.btn-exprort,
.admin-control .btn.btn-cancel{
  color: #828282;
  background-color: #E7EAED;
  border: 1px solid #BEBEBE;
}

.admin-control .btn.btn-add,
.admin-control .btn.btn-save{
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.search-control{
  padding: 3.2rem 4rem;
  margin-bottom: 3.8rem;
  border-radius: 5px;
  background-color: var(--white-cl);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.search-control .search-wrap{
  display: flex;
  align-items: flex-end;
  column-gap: 1.6rem;
}

.search-control .search-item{
  --w-search-item: calc((100% - 14.6rem));
  width: calc((var(--w-search-item) / 3) - 16px);
}

.search-wrap .btn{
  width: 14.6rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;
  border-radius: 5px;
  column-gap: 9px;
}

.search-wrap .btn.btn-filter{
  background-color: var(--primary-cl);
  border: 1px solid transparent;
}

.table-list table{
  margin-bottom: 0;
  background-color: var(--white-cl);
}

.table-list thead th{
  font-size: 2rem;
  line-height: 3rem;
  padding: 1.4rem !important;
  color: var(--white-cl);
  text-align: center;
  border-bottom: 0 !important;
  background-color: var(--primary-cl);
}

.table-list tbody td{
  padding: 1.3rem .5rem !important;
  color: var(--black-cl-1);
  text-align: center;
  vertical-align: middle !important;
  border-top: 0 !important;
  border-bottom: 1px solid #d9d9d9;
}

.table-list tbody td.title{
  text-align: left;
}

.table-list tbody td .avatar{
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 5px;
  object-fit: cover;
  display: inline-block;
}

.table-list tbody td .control{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}

.alert{
  width: 9.8rem;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 0;
  display: inline-block;
}

.alert.alert-success{
  color: #0F5132 !important;
  background-color: #D1E7DD !important;
  border-color: #BADBCC;
}

.alert.alert-hide{
  color: #141619 !important;
  background-color: #D3D3D4 !important;
  border-color: #BCBEBF;
}

.table-list .btn{
  width: 4rem;
  height: 4rem;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-edit,
.btn.btn-delete{
  color: #828282;
  background-color: #F3F3F3;
  border-color: #BEBEBE;
}

.paginations{
  display: flex;
  justify-content: flex-end;
  padding: 2.4rem 8.3rem 5rem;
  background-color: var(--white-cl);
}

.paginations ul{
  margin: 0;
}

.paginations ul li{
  display: inline-block;
}

.paginations ul li a{
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
  padding: 8px 17px;
  border-radius: 2px;
  border: 1px solid #EEF4F9;
  background-color: var(--white-cl);
}

.paginations ul li a.active{
  color: var(--white-cl);
  border: 1px solid transparent;
  background-color: var(--primary-cl);
}

/* Component Add New */

.admin-form{
  display: flex;
  align-items: flex-start;
  column-gap: 2.4rem;
}

.admin-form .box-content-main,
.admin-form .box-info-general{
  border-radius: 5px;
  background-color: var(--white-cl);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.admin-form .box-content-main{
  padding: 4.2rem;
  width: 94.7rem;
}

.admin-form .box-info-general{
  width: 50.6rem;
  padding: 4.2rem 3.4rem;
}

.admin-form .box-content-main h3,
.admin-form .box-info-general h3{
  color: var(--black-cl-1);
  margin: 0 0 4rem 0;
}

.admin-form .box-content-main .ck.ck-editor__editable_inline{
  height: 30rem;
}

.box-info-general .title{
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 500;
  margin-bottom: 2.7rem;
  color: var(--black-cl-1);
}

.box-info-general .line{
  width: 100%;
  height: 1px;
  display: inline-block;
  margin-bottom: 2.7rem;
  background-color: #828282;
}

.post-status{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.7rem;
}

.post-status .title{
  margin-bottom: 0;
}

.post-avatar{
  margin-bottom: 4.9rem;
}

.upload-wrap.flex{
  display: flex;
}

.upload-wrap .preview-avatar{
  width: 13.2rem;
  height: 13.2rem;
  object-fit: cover;
}

.upload-avatar{
  margin-left: 3.2rem;
}

.upload-avatar #imgInp,
.upload-doc #docInp{
  width: 100%;
  margin-bottom: 1.6rem;
}

.upload-avatar .note,
.upload-doc .note{
  margin: 0;
  padding-left: 2rem;
}

.upload-avatar .note li,
.upload-doc .note li{
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #828282;
  margin-bottom: 1.6rem;
}

.upload-avatar .note li:last-child,
.upload-doc .note li:last-child{
  margin-bottom: 0;
}

.preview-file{
  display: flex;
  overflow-y: auto;
  column-gap: 8px;
  margin-bottom: 3.2rem;
}

.preview-file .preview-file__item{
  width: 13.2rem;
  height: 13.2rem;
}